:root {
	--unit: 1rem;
	--unit-2: 2rem;
	--font: -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
		"Helvetica Neue", sans-serif;
	--color-body: #1a1a1a;
	--color-body-light: #626a6e;
	--color-body-inverted: #fff;
	--color-primary: #005ea5;
	--color-primary-hover: #003078;
	--color-line: #b1b4b6;
	--color-access: #fd0;
}

body {
	font-family: var(--font);
	line-height: 1.4;
	color: var(--color-body);
	background: var(--color-body-inverted);
	margin: 0;
	padding: var(--unit-2);
}

main {
	max-width: 640px;
	margin: 0 auto;
}

h1 {
	font-size: 2.25rem;
	margin-bottom: var(--unit);
}

p {
	font-size: 1.1875rem;
	color: var(--color-body-light);
	margin-bottom: var(--unit-2);
}

label {
	display: block;
	margin-bottom: calc(var(--unit) / 2);
	font-size: 1.1875rem;
}


input[type="url"] {
	font-size: 1.5rem;
	font-family: var(--font);
	width: 100%;
	padding: 10px;
	border: 2px solid var(--color-body);
	margin-bottom: var(--unit);
	box-sizing: border-box;
}

input[type="text"] {
	font-size: 1.5rem;
	font-family: var(--font);
	width: 100%;
	padding: 10px;
	border: 2px solid var(--color-body);
	margin-bottom: var(--unit);
	box-sizing: border-box;
}

button {
	font-size: 1.1875rem;
	font-family: var(--font);
	background-color: var(--color-primary);
	border: 2px solid transparent;
	color: var(--color-body-inverted);
	cursor: pointer;
	padding: 10px 20px;
	margin-bottom: var(--unit-2);
}

button:hover {
	background-color: var(--color-primary-hover);
}

input:focus,
button:focus,
a:focus {
	outline: 3px solid var(--color-access);
	outline-offset: 0;
}

.or-divider {
	display: flex;
	align-items: center;
	text-align: center;
	margin: var(--unit-2) 0;
	color: var(--color-body-light);
}

.or-divider::before,
.or-divider::after {
	content: "";
	flex: 1;
	border-bottom: 1px solid var(--color-line);
}

.or-divider::before {
	margin-right: 0.5em;
}

.or-divider::after {
	margin-left: 0.5em;
}

.service-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.service-list li {
	margin-bottom: var(--unit);
}

.service-list a {
	color: var(--color-primary);
	text-decoration: none;
	font-size: 1.1875rem;
}

.service-list a:hover {
	text-decoration: underline;
}

header {
	display: flex;
	align-items: center;
}

header img {
	width: 24px;
}

header h2 {
	margin: 0 0 0 10px;
	font-size: 1.5rem;
}
a {
	color: var(--color-primary);
	text-decoration: none;
	font-size: 1.1875rem;
}
a:hover {
	color: var(--color-primary-hover);
}

#logo {
	display: inline-block;
	transition: transform 0.5s ease-in-out;
}

#logo:hover {
	transform: rotate(360deg);
}

input[type=checkbox], input[type=checkbox] + label {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

input[type=checkbox] + label {
    display: inline-block;
    cursor: pointer;
    padding-left: 3.5rem;
    padding-right: 2rem;
    padding-bottom: .75rem;
    position: relative;
}

input[type=checkbox] + label:before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: -0.25rem;
    top: 0;
    width: 3rem;
    height: 3rem;
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49 49"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cpath fill="%23000" stroke="%23FFF" stroke-width="3" d="M2 2h45v45H2z"/%3E%3Cpath fill="%23FFF" stroke="%23000" stroke-width="2" d="M4.5 4.5h40v40h-40z"/%3E%3C/g%3E%3C/svg%3E%0A') 0 0/cover;
}

input[type=checkbox]:checked + label:before {
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49 49"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cpath fill="%23000" stroke="%23FFF" stroke-width="3" d="M2 2.4h45v45H2z"/%3E%3Cpath fill="%23FFF" stroke="%23000" stroke-width="2" d="M4.5 5h40v40h-40z"/%3E%3Cpath fill="%23000" d="M15.6 23.4l5 5 12.7-12.8 3.6 3.6-16.3 16.2L12 27z"/%3E%3C/g%3E%3C/svg%3E');
}

input[type=checkbox]:focus + label:before {
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49 49"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cpath fill="%23000" stroke="%23FD0" stroke-width="3" d="M2 2h45v45H2z"/%3E%3Cpath fill="%23FFF" stroke="%23000" stroke-width="4" d="M5.5 5.5h38v38h-38z"/%3E%3C/g%3E%3C/svg%3E%0A');
}

input[type=checkbox]:focus:checked + label:before {
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49 49"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cpath fill="%23000" stroke="%23FD0" stroke-width="3" d="M2 2h45v45H2z"/%3E%3Cpath fill="%23FFF" stroke="%23000" stroke-width="4" d="M5.5 5.5h38v38h-38z"/%3E%3Cpath fill="%23000" d="M15.6 23l5 5 12.7-12.8 3.6 3.5L20.6 35 12 26.5z"/%3E%3C/g%3E%3C/svg%3E%0A');
}
